{% extends "layout.html" %}

{% block body %}


  First name: <input type="text" name="fname" id="fname" value="John"><br>
  Last name: <input type="text" name="lname" id="lname" value="Doe"><br>
  <input type="button" id="button" value="Submit form">
  <p id='text'><p>

<script>
function sendRequest(){                                                                                                                                                   
	var p = document.getElementById('text');
	p.innerHTML='Loaading...'
    var _HTTP = new XMLHttpRequest();                                                                                                                                     
    if (_HTTP) {                                                                                                                                                          
	_HTTP.open('POST', '{{url_for('proc')}}', true);                                                                                                      
	_HTTP.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');                                                                                         
	_HTTP.send(JSON.stringify({'fname': document.getElementById('fname').value, 
				   'lnane': document.getElementById('lname').value}));                                                                                                           
	    _HTTP.onreadystatechange = function() {
		    p.innerHTML = this.responseText;
	};
    };
}                                                                                                                                                                         
var btm=document.getElementById('button');
btm.onclick = sendRequest;
</script>
{% endblock %}
